/MotorTown
/MotorTown-old
/out
/out_map
*.json
.vscode/
/wiki/out/out_vehicle_data.json
/wiki/out/validation.json
/wiki/out/pages/
/wiki/out/parts/
/site_wiki*/
to_be_update/
resource/
map.png
bin/
obj/
